<nav data-controller="navbar" class="navbar" role="navigation" aria-label="dropdown navigation">

    <div class="navbar-brand">
        <%= link_to "RBCRUD", root_path, class:"navbar-item title" %>
        <a id="burger-wrapper" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="burger-content">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="burger-content" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-dropdown">
                    <a class="navbar-item"> <%= link_to "About", home_about_path %> </a>
                </div>
            </div>
        </div>
    </div>

</nav>